@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <title>@ViewData["Title"]</title>

</head>
<body>

    <div>
        <img src="https://drive.google.com/uc?export=view&id=1-5dg2Avz4VSiQShUq_5WRFmAlwhzp8dF">
    </div>
 
</body>
</html>