@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <title>@ViewData["Title"]</title>

</head>
<body>
    <div class="container">
        <h1 class="text-center mt-4">Welcome to the Health Management System</h1>
        <hr />

        <div class="subtitle-section">
            <div class="subtitle-header">Patients</div>
            <div class="action-links">
                <a asp-controller="Patients" asp-action="Create" class="btn btn-success">Create Patient</a>
                <a asp-controller="Patients" asp-action="Index" class="btn btn-primary">Update/Delete Patients</a>
                <a asp-controller="Patients" asp-action="Index" class="btn btn-info">View Patients</a>
            </div>
        </div>

        <div class="subtitle-section">
            <div class="subtitle-header">Clinical Records</div>
            <div class="action-links">
                <a asp-controller="ClinicalRecords" asp-action="Create" class="btn btn-success">Create Clinical Record</a>
                <a asp-controller="ClinicalRecords" asp-action="Index" class="btn btn-primary">Update/Delete Clinical Records</a>
                <a asp-controller="ClinicalRecords" asp-action="Index" class="btn btn-info">View Clinical Records</a>
            </div>
        </div>

        <div class="subtitle-section">
            <div class="subtitle-header">Clinics</div>
            <div class="action-links">
                <a asp-controller="Clinics" asp-action="Create" class="btn btn-success">Create Clinic</a>
                <a asp-controller="Clinics" asp-action="Index" class="btn btn-primary">Update/Delete Clinics</a>
                <a asp-controller="Clinics" asp-action="Index" class="btn btn-info">View Clinics</a>
            </div>
        </div>
    </div>
 
</body>
</html>