@model WebApplication1.Models.ClinicalRecord

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ClinicalRecord</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FileName" class="control-label"></label>
                <input asp-for="FileName" class="form-control" />
                <span asp-validation-for="FileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Disorder" class="control-label"></label>
                <input asp-for="Disorder" class="form-control" />
                <span asp-validation-for="Disorder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClinicalContactCommenced" class="control-label"></label>
                <input asp-for="ClinicalContactCommenced" class="form-control" />
                <span asp-validation-for="ClinicalContactCommenced" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClinicalContactTerminated" class="control-label"></label>
                <input asp-for="ClinicalContactTerminated" class="form-control" />
                <span asp-validation-for="ClinicalContactTerminated" class="text-danger"></span>
            </div>
@*             <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="RelevantInformation" class="control-label"></label>
                <input asp-for="RelevantInformation" class="form-control" />
                <span asp-validation-for="RelevantInformation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedBy" class="control-label"></label>
                <input asp-for="UpdatedBy" class="form-control" />
                <span asp-validation-for="UpdatedBy" class="text-danger"></span>
            </div>
     @*        <div class="form-group">
                <label asp-for="UpdatedDate" class="control-label"></label>
                <input asp-for="UpdatedDate" class="form-control" />
                <span asp-validation-for="UpdatedDate" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="TutorEmailAddress" class="control-label"></label>
                <input asp-for="TutorEmailAddress" class="form-control" />
                <span asp-validation-for="TutorEmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clinician" class="control-label"></label>
                <input asp-for="Clinician" class="form-control" />
                <span asp-validation-for="Clinician" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssessmentFindings" class="control-label"></label>
                <input asp-for="AssessmentFindings" class="form-control" />
                <span asp-validation-for="AssessmentFindings" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Referral" class="control-label"></label>
                <input asp-for="Referral" class="form-control" />
                <span asp-validation-for="Referral" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="History" class="control-label"></label>
                <input asp-for="History" class="form-control" />
                <span asp-validation-for="History" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clinic.ClinicName" class="control-label"></label>
                <select asp-for="ClinicID" class="form-control" asp-items="ViewBag.ClinicName"></select>
            </div>
            <div class="form-group">
                <label asp-for="Patient.PatientName" class="control-label"></label>
                <select asp-for="PatientID" class="form-control" asp-items="ViewBag.PatientName"></select>
            </div>
            <div class="form-group">
                <label asp-for="Doctor.DoctorName" class="control-label"></label>
                <select asp-for="DoctorID" class="form-control" asp-items="ViewBag.DoctorName"></select>
            </div>

            <br />
            <div class="row">
                <div class="col-md-12">
                    <input asp-for="FilePath" type="file" class="form-control" name="Upload" value="Upload" />
                </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" id="btn-upload-patient" class="btn btn-primary" />
            </div>

 


        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
<script>
    document.open(function () {
        $("#btn-upload-patient").click(function () {
            debugger;
            var formData = document.getElementById('editForm');
            var formData = new FormData(form);
            $.ajax({
                type: 'PUT',
                url: '@Url.Action("upload", "File")',
                contentType: false,
                processData: false,
                cache: false,
                data: formData,
                success: successCallback,
                error: errorCallback
            });
        });
        function errorCallback() {
            bootbox.alert("Something went wrong please contact admin.");
        }
        function successCallback(response) {
            if (response.responseCode == 0) {
                resetForm();
                bootbox.alert(response.responseMessage, function () {

                    //PERFORM REMAINING LOGIC required once the patient is saved
                });
            }
            else {
                bootbox.alert(response.ResponseMessage);
            }
        };
    });

</script>